{
  "presets": [
      ["env", {
        "targets": {
            "chrome": 60,
            "node": "current"
        }
    }],
    ["es2015", { "modules": false}],"react", "stage-2"],
  "plugins": [["transform-runtime", {
    "polyfill": false,
    "regenerator": true
  }]]
}